环境要求
# Name                     Version          Build               Channel
absl-py                    2.5.0            pypi_0              pypi
aom                        3.14.0           h1653897_0
blas                       1.0              mkl
bzip2                      1.0.8            h2bbff1b_6
ca-certificates            2026.8.13        haa95532_0
cairo                      1.18.4           h5c4e243_1
contourpy                  1.4.0            py314h90c3233_0
cycler                     0.12.1           py314haa95532_0
dav1d                      1.5.3            h4375697_1
filelock                   3.32.3           pypi_0              pypi
fontconfig                 2.18.2           hf17c0a4_0
fonttools                  4.63.0           py314h1c6eee0_0
freeglut                   3.8.0            hfcef157_0
freetype                   2.14.1           hfbffc0b_0
fsspec                     2026.7.0         pypi_0              pypi
future                     1.0.0            pypi_0              pypi
graphite2                  1.3.15           h781baf4_0
grpcio                     1.84.0           pypi_0              pypi
harfbuzz                   12.3.0           h807c389_2
icu                        78.3             ha03e165_1
intel-openmp               2025.0.0         haa95532_1165
jinja2                     3.1.6            pypi_0              pypi
kiwisolver                 1.5.0            py314hd7fb8db_0
lcms2                      2.19.1           h5da84a9_1
lerc                       4.1.0            hd7fb8db_2
libavif                    1.4.2            h1a73fbf_0
libdeflate                 1.22             h5bf469e_0
libexpat                   2.8.5            hd7fb8db_1
libffi                     3.4.8            h42d73b9_3
libglib                    2.88.3           h55e2dac_1
libiconv                   1.18             hc89ec93_0
libjpeg-turbo              3.1.3            h02ab6af_0
libkrb5                    1.22.2           h3d06f0e_0
libmpdec                   4.0.1            h1c6eee0_0
libopenjpeg                2.5.4            h1c6eee0_2
libpng                     1.6.56           h2854ad3_0
libpq                      18.4             h7c26194_1
libtiff                    4.7.2            h37aaaa1_0
libwebp-base               1.6.0            hbf3958f_0
libxml2                    2.15.4           h39d8ac2_0
libzlib                    1.3.2            h1c6eee0_0
lz4-c                      1.9.4            h1c6eee0_5
markdown                   3.11             pypi_0              pypi
markupsafe                 3.0.3            pypi_0              pypi
matplotlib                 3.11.2           py314he3dc4dc_0
matplotlib-base            3.11.2           py314hce83770_0
mkl                        2025.0.0         h585ebfc_931
mkl-service                2.7.2            py314h1b35211_0
mkl_fft                    2.3.2            py314h8b56019_0
mkl_random                 1.4.1            py314hf1216d0_0
mpmath                     1.3.0            pypi_0              pypi
mysql-common               9.7.2            h0b12ad4_1
mysql-libs                 9.7.2            h08a8c37_1
networkx                   3.6.1            pypi_0              pypi
numpy                      2.5.3            py314h650627e_0
numpy-base                 2.5.3            py314h5fb32f3_0
openssl                    3.5.9            hbb43b14_0
packaging                  26.3             py314haa95532_0
pandas                     3.0.6            pypi_0              pypi
pcre2                      10.48            h2dd0c64_0
pillow                     12.3.0           py314hbb6c998_0
pip                        26.2.1           pyh0d26453_0
pixman                     0.46.4           h0701eb8_1
protobuf                   7.36.2           pypi_0              pypi
pyparsing                  3.3.2            py314haa95532_0
pyqt                       6.11.0           py314hd742356_0
pyqt6-sip                  13.11.1          py314h630b2a1_0
python                     3.14.7           h7ce57fb_101_cp314
python-dateutil            2.9.0post0       py314haa95532_2
python_abi                 3.14             5_cp314
qtbase                     6.11.0           h5156bcb_5
qtdeclarative              6.11.0           hcb633d5_1
qtsvg                      6.11.0           hf3e933c_1
qttools                    6.11.0           had87466_1
qtwebchannel               6.11.0           h5895b07_1
qtwebsockets               6.11.0           he7f7b8d_1
setuptools                 83.0.0           py314haa95532_0
sip                        6.15.1           py314h9561cc3_0
six                        1.17.0           py314haa95532_0
sqlite                     3.53.4           hee5a0db_0
sympy                      1.14.0           pypi_0              pypi
tbb                        2022.0.0         h214f63a_0
tbb-devel                  2022.0.0         h214f63a_0
tensorboard                2.21.0           pypi_0              pypi
tensorboard-data-server    0.7.2            pypi_0              pypi
tk                         9.0.4            hd2208ad_1
torch                      2.14.1+cu126     pypi_0              pypi
torchvision                0.29.1+cu126     pypi_0              pypi
tornado                    6.5.8            py314h1c6eee0_0
typing-extensions          4.16.0           pypi_0              pypi
tzdata                     2026.4           pypi_0              pypi
ucrt                       10.0.22621.0     haa95532_0
vc                         14.42            haa95532_5
vc14_runtime               14.44.35208      h4927774_12
vs2015_runtime             14.44.35208      ha6b5a95_12
werkzeug                   3.1.9            pypi_0              pypi
xz                         5.8.4            hb851c79_0
zlib                       1.3.2            h1c6eee0_0
zstd                       1.5.7            h56299aa_0